body {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: "Righteous", sans-serif;
  background-color: aliceblue;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000;
  border-radius: 0 0 50px 50px;
  box-shadow: 0 0 20px 5px #000;
}

.header-logo {
  color: #fff;
  margin-left: 20px;
  transition: all 0.5s ease-out;
}

.header-logo:hover {
  letter-spacing: 20px;
  cursor: pointer;
}

.header-logo span {
  color: crimson;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  transition: all 0.5s ease-out;
}

nav a:hover {
  color: crimson;
}

/* hero */
.hero {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 50px 0;
  position: relative;
}

.hero h1 {
  display: flex;
  letter-spacing: 100px;
  z-index: 1;
  font-size: 10rem;
  position: absolute;
  top: 50%;
  left: 52%;
  transform: translate(-50%, -100%);
  color: #e70808;
  text-align: center;
  text-shadow: 20px 20px 20px #000;
  transition: all 0.5s ease-out;
}

.hero h1:hover {
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0;
  cursor: pointer;
}

.hero-image img {
  position: relative;
  z-index: 2;
  max-width: 70%;
  filter: drop-shadow(5px 20px 5px #000);
}

.hero::before {
  color: #fff;
  content: "";
  background-color: #000;
  position: absolute;
  transform: translateX(-50%);
  transform: translateY(-50%);
  top: 50%;
  left: 40%;
  z-index: 1;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  filter: blur(5px);
}

.project {
  display: flex;
  flex-direction: column;
  animation: sc 1s ease-out;
}

.project > div {
  display: flex;
  flex-direction: column;
  margin: 0 100px;
  align-items: flex-start;
  margin-bottom: 20px;
}

@keyframes sc {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.project img {
  box-shadow: 20px 20px 20px #000;
  max-width: 100%;
  border-radius: 20px;
}

.project > div:nth-child(odd) img {
  box-shadow: -20px 20px 20px #000;
}

.project-description {
  text-align: left;
  width: 40%;
}

.project > div:nth-child(odd) {
  transform: translateY(-5%);
  align-items: flex-end;
}

.project > div:nth-child(4),
.project > div:nth-child(5) {
  transform: none;
}

.project > div:nth-child(odd) .project-description {
  text-align: right;
}

/* Untuk layar tablet (max-width: 768px) */
@media (max-width: 2138px) {
  header {
    flex-direction: column;
    padding: 10px 0;
  }

  .header-logo {
    margin: 0;
  }

  nav {
    margin-top: 10px;
  }

  nav a {
    margin-right: 10px;
  }

  .hero h1 {
    font-size: 10rem;
    letter-spacing: 100px;
  }

  .hero-image img {
    max-width: 90%;
  }

  .project > div {
    margin: 0 10px;
  }

  .project-description {
    width: 50%;
  }

  .project img {
    width: 100%;
    max-width: 300px;
  }
}
@media (max-width: 768px) {
  header {
    flex-direction: column;
    padding: 10px 0;
  }

  .header-logo {
    margin: 0;
  }

  nav {
    margin-top: 10px;
  }

  nav a {
    margin-right: 10px;
  }

  .hero h1 {
    font-size: 5rem;
    letter-spacing: 10px;
  }

  .hero-image img {
    max-width: 90%;
  }

  .project > div {
    margin: 0;
    padding: 0 50px;
  }

  .project-description {
    width: 50%;
  }

  .project img {
    width: 50%;
    max-width: 300px;
  }
}

/* Untuk layar ponsel (max-width: 480px) */
@media (max-width: 480px) {
  .header {
    width: 100%;
  }

  .hero h1 {
    font-size: 3rem;
    letter-spacing: 5px;
  }

  .hero-image img {
    max-width: 80%;
  }

  .hero {
    position: relative;
  }

  .hero::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
  }

  .project > div {
    margin: 0 10px;
  }

  .project-description {
    font-size: 0.9rem;
  }

  .project img {
    max-width: 100%;
    margin-bottom: 15px;
  }
}
